.screenLoadingBackground {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.15;
}

.screenLoadingImage {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
}

.screenLoadingProgressFrame {
	position: absolute;
	left: 20%;
	top: 60%;
	width: 60%;
	height: 20%;
}

.screenLoadingProgressBar {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 24px;
}

.screenLoadingProgressText {
	position: absolute;
	top: calc(6% + 24px);
	left: 5%;
	width: 90%;
	height: 24px;
}