.screenMainOptionsPanel {
	position: absolute;
    top: 0px;
    right: 0px;
    width: 350px;
    height: calc(100% - 32px);
}

.screenMainOptionsContent {
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    height: calc(100% - 35px);
    overflow: auto;
}

.screenMainGameContent {
	position: relative;
    width: 100%;
    height: calc(100% - 32px);
}

.screenMainModuleContent {
	margin: 5px;
	width: 100%;
	height: calc(100% - 10px);
}