<div id="MainScreen" class="noSelect screen">
	<div id="MainScreenContent" class="noSelect screenContent"></div>
	<div class="noSelect controlPanelFrame">
		<div id="ControlPanel" class="noSelect controlPanel">
			<div class="noSelect panelBackground"></div>
			<div class="noSelect controlPanelContentFrame panelContentBorder">
				<div class="noSelect panelContentBackground"></div>
				<div id="ControlPanelContent" class="noSelect controlPanelContent"></div>
			</div>
		</div>
		<div id="OptionsContent" class="noSelect optionsContent"></div>
	</div>
</div>