<div id="{{id}}" class="noSelect optionPanel inline">
	<div id="{{id}}_bg" class="noSelect panelBackground"></div>
    <div class="noSelect panelContentFrame panelContentBorder">
    	<div class="noSelect panelContentBackground"></div>
        <div id="{{id}}_content" class="noSelect panelContent"></div>
    </div>
    <div id="{{id}}_btClose" class="noSelect clickable panelButton panelButtonClose panelButtonText">x</div>
    <div id="{{id}}_btInfo" class="noSelect clickable panelButton panelButtonInfo panelButtonText">i</div>
    <div id="{{id}}_title" class="noSelect noIBar defaultFontColor panelTitle"></div>
</div>