<div id="{{id}}" class="noSelect screen">
	<div id="{{id}}Content" class="noSelect screenMainGameContent"></div>
	<div class="noSelect optionsPanelFrame">
		<div id="OptionsPanel" class="noSelect screenMainOptionsPanel">
			<div class="noSelect panelBackground colorDefaultBackground"></div>
			<div class="noSelect optionsPanelContentFrame colorAccentBorder">
				<div class="noSelect panelContentBackground colorDefaultBackground"></div>
				<div id="OptionsPanelContent" class="noSelect optionsPanelContent"></div>
			</div>
		</div>
		<div id="OptionsContent" class="noSelect screenMainOptionsContent"></div>
	</div>
</div>