<div id="{{id}}" class="noSelect screen">
    <div class="noSelect screenLoadingBackground colorInactiveBackground"></div>
    <div id="{{id}}Content" class="noSelect screenLoadingContent"></div>
    <div class="noSelect screenLoadingImage">
    </div>
    <div class="noSelect screenLoadingProgressFrame">
        <div id="{{id}}Progress" class="noSelect screenLoadingProgressBar">
            <div class="noSelect progressBarContent colorAccentBackground colorDefaultFont"></div>
        </div>
        <div id="{{id}}ProgressText" class="noSelect screenLoadingProgressText"></div>
    </div>
</div>