<div id="{{id}}" class="noSelect contentProvider scrollVertical">
	<div class="noSelect statisticsSection">
		<div class="noSelect noIBar colorDefaultFont statisticsHeader">All time:</div>
		<hr class="noSelect statisticsDivider"/>
		<table id="{{id}}_totalContent"></table>
	</div>
	<div class="noSelect statisticsSection">
		<div class="noSelect noIBar colorDefaultFont statisticsHeader">This session:</div>
		<hr class="noSelect statisticsDivider"/>
		<table id="{{id}}_sessionContent"></table>
	</div>
</div>