.noSelect {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.clickable {
    cursor: hand;
    cursor: pointer;
}

.noIBar {
	cursor: default;
}

.hidden {
    display: none;
}

.inline {
	display: inline-block;
    display: -moz-inline-stack; /* for firefox 2 */
    *display: inline; /* for ie 6 and 7 */
}