.panel {
    margin: 1px;
}

.panelContentBorder {
	border-style: solid;
    border-color: #468278;
    border-width: 2px;
}

.panelContent {
    position: absolute;
    top: 30px;
    bottom: 0px;
    margin: 4px;
    width: calc(100% - 12px);
}

.panelBackground {
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.1;
}

.panelContentBackground {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
    width: 100%;
    background-color: #000000;
    opacity: 0.8;
}

.panelButton {
    height: 22px;
    width: 22px;
    border-style: solid;
    border-color: #468278;
    border-width: 2px;
    color: #468278;
    text-align: center;
    opacity: 0.8;
    margin: 2px;
}

.panelTitle {
	text-align: left;
	color: #FFFFFF;
}

.panelButtonClose {
    position: absolute;
    top: 2px;
    right: 2px;
}

.panelButtonInfo {
    position: absolute;
    top: 2px;
    left: 2px;
}

.optionPanel {
	position: relative;
	float: left;
	z-index: 1;
	padding: 0;
}

.controlPanel {
	position: absolute;
	top: 0px;
    right: 0px;
	height: 34px;
	width: 500px;
}

.controlPanelContent {
	border-style: solid;
    border-color: #468278;
    border-width: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: 4px;
    width: calc(100% - 12px);
}