.pluginTimeFrame {
	width: 100px;
	height: calc(100% - 8px);
	margin: 4px 10px 0px 4px;
	float: right;
	border-style: solid;
	border-radius: 8px;
    border-width: 1px;
}

.pluginTimeContent {
	width: 60px;
	height: calc(100% - 8px);
	margin: 1px 25px 0px 25px;
}