.progressBarMain {
	width: 100%;
    height: 100%;
}

.progressBarContent {
	height: 100%;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
}